@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&family=Poppins&display=swap");
/* html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #333;
  }
} */

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(0, 0, 0);
}

.main {
  background-size: max(1200px, 100vw);
  height: 100vh;
  position: relative;
  background: url(/media/netflix\ background.jpg) center no-repeat;
}
.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
}
nav {
  max-width: 80vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 70px;
  margin: auto;
  justify-content: space-between;
  /* padding: 12px; */
}
nav img {
  color: rgb(255, 0, 0);
  width: 150px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  font-family: "Martel Sans", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  gap: 15px;
  padding: 30px;
}
.hero > :first-child {
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.separation {
  height: 7px;
  background-color: rgb(61, 60, 60);
  margin-top: -30px;    
}
.btn {
  color: rgb(255, 255, 255);
  padding: 3px 8px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.021);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.btn-red {
  background-color: red;
  color: white;
  padding: 9px 24px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 400;
  /* border: none; */
}
.btn-red:hover{
  border: none;
}
.hero-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.main input {
  padding: 12px 103px 12px 14px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  /* background-color: transparent; */
  font-weight: 500;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(23, 23, 23, 0.5);
}
.btn-red-sm {
  background-color: red;
  color: white;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  padding: 35px 0;
}

.secimg {
  position: relative;
}
.secimg img {
  width: 550px;
  position: relative;
  z-index: 10;
}
.secimg video {
  position: absolute;
  top: 85px;
  right: 10px;
}
section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}
section div h1 {
  font-size: 50px;
  font-weight: bolder;
}
section.first > div :nth-child(2) {
  font-size: 18px;
  font-weight: 300;
}
.faq h2 {
  text-align: center;
  font-size: 40px;
}
.faq {
  background-color: black;
  color: white;
  padding: 50px;
  /* font-size: 22px; */
}
.faqbox:hover {
  background-color: rgb(83, 80, 80);
}

.faqbox {
  transition: all 1s ease-out;
  font-size: 22px;
  display: flex;
  background-color: rgb(39, 38, 38);
  padding: 20px;
  margin: 5px auto;
  max-width: 69vw;
  justify-content: space-between;
  cursor: pointer;
}
footer {
  max-width: 70vw;
  margin: auto;
  color: white;
  padding: 39px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
}
@media screen and (max-width: 700px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  nav {
    max-width: 80vw;
  }

  .first {
    flex-wrap: wrap;
  }
  .hero-button{
    flex-direction: column  ;
  }
  .secimg img {
    width: 300px;
  }
 
  .main,
  .main > .box {
    height: 100%;
  }
  .secimg video {
    width: 250px;
  }
}
.Questions {
  padding: 30px 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer a {
  color: white;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 0;
}
